In [1]:
import requests
import json
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/statsbomb/open-data/master/data/competitions.json"

response = requests.get(url)
if response.status_code == 200:
    json_data = response.json()
    df = pd.DataFrame(json_data)
else:
    print("Error:", response.status_code)

In [3]:
df.head()

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,16,4,Europe,Champions League,male,False,False,2018/2019,2023-03-07T12:20:48.118250,2021-06-13T16:17:31.694,None,2023-03-07T12:20:48.118250
1,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
2,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
3,16,27,Europe,Champions League,male,False,False,2015/2016,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
4,16,26,Europe,Champions League,male,False,False,2014/2015,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00

In [4]:
df['season_name'].unique()

array(['2018/2019', '2017/2018', '2016/2017', '2015/2016', '2014/2015',
       '2013/2014', '2012/2013', '2011/2012', '2010/2011', '2009/2010',
       '2008/2009', '2006/2007', '2004/2005', '2003/2004', '1999/2000',
       '2020/2021', '2019/2020', '2022', '2018', '2021/2022', '2007/2008',
       '2005/2006', '2020', '2019'], dtype=object)

In [5]:
# Find the different types of competitions in the data
df['competition_name'].unique()

array(['Champions League', "FA Women's Super League", 'FIFA World Cup',
       'Indian Super league', 'La Liga', 'NWSL', 'Premier League',
       'UEFA Euro', "UEFA Women's Euro", "Women's World Cup"],
      dtype=object)

In [6]:
fifa = df[df['competition_name'] == 'FIFA World Cup']

In [7]:
fifa

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
18,43,106,International,FIFA World Cup,male,False,True,2022,2023-06-24T17:17:27.911026,2023-06-24T17:18:55.629111,2023-06-24T17:18:55.629111,2023-06-24T17:17:27.911026
19,43,3,International,FIFA World Cup,male,False,True,2018,2022-09-05T17:17:56.670896,2021-06-13T16:17:31.694,None,2022-09-05T17:17:56.670896

We will consider 2022-2023 season, The competition and the season 2023 ID of the FIFA World Cup is 43 and 106, respectively. Now let’s access the folder that contains the ID.

In [10]:
# Example of first item in a json list
with open('open-data-master/open-data-master/data/matches/43/106.json') as f:
    data = json.load(f)
data[1]

{'match_id': 3869151,
 'match_date': '2022-12-03',
 'kick_off': '21:00:00.000',
 'competition': {'competition_id': 43,
  'country_name': 'International',
  'competition_name': 'FIFA World Cup'},
 'season': {'season_id': 106, 'season_name': '2022'},
 'home_team': {'home_team_id': 779,
  'home_team_name': 'Argentina',
  'home_team_gender': 'male',
  'home_team_group': None,
  'country': {'id': 11, 'name': 'Argentina'},
  'managers': [{'id': 5677,
    'name': 'Lionel SebastiГЎn Scaloni',
    'nickname': None,
    'dob': '1978-05-16',
    'country': {'id': 11, 'name': 'Argentina'}}]},
 'away_team': {'away_team_id': 792,
  'away_team_name': 'Australia',
  'away_team_gender': 'male',
  'away_team_group': None,
  'country': {'id': 14, 'name': 'Australia'},
  'managers': [{'id': 5696,
    'name': 'Graham James Arnold',
    'nickname': None,
    'dob': '1963-08-03',
    'country': {'id': 14, 'name': 'Australia'}}]},
 'home_score': 2,
 'away_score': 1,
 'match_status': 'available',
 'match_status_360': 'available',
 'last_updated': '2023-04-16T05:09:50.559670',
 'last_updated_360': '2023-05-14T23:35:15.370647',
 'metadata': {'data_version': '1.1.0',
  'shot_fidelity_version': '2',
  'xy_fidelity_version': '2'},
 'match_week': 4,
 'competition_stage': {'id': 33, 'name': 'Round of 16'},
 'stadium': {'id': 1000793,
  'name': 'Ahmad bin Ali Stadium',
  'country': {'id': 185, 'name': 'Qatar'}},
 'referee': {'id': 367,
  'name': 'Szymon Marciniak',
  'country': {'id': 182, 'name': 'Poland'}}}

In [11]:
# Printing all matches in FIFA 2022
with open('open-data-master/open-data-master/data/matches/43/106.json') as f:
    data = json.load(f)
    for match in data:
        print('ID:', match['match_id'], match['home_team']['home_team_name'], match['home_score'], '-', match['away_score'], match['away_team']['away_team_name'], ", date:", match['match_date'], "time:" , match['kick_off'])

ID: 3857256 Serbia 2 - 3 Switzerland , date: 2022-12-02 time: 21:00:00.000
ID: 3869151 Argentina 2 - 1 Australia , date: 2022-12-03 time: 21:00:00.000
ID: 3857257 Australia 1 - 0 Denmark , date: 2022-11-30 time: 17:00:00.000
ID: 3857258 Brazil 2 - 0 Serbia , date: 2022-11-24 time: 21:00:00.000
ID: 3857288 Tunisia 0 - 1 Australia , date: 2022-11-26 time: 12:00:00.000
ID: 3857267 Ecuador 1 - 2 Senegal , date: 2022-11-29 time: 17:00:00.000
ID: 3869321 Netherlands 2 - 2 Argentina , date: 2022-12-09 time: 21:00:00.000
ID: 3857287 Uruguay 0 - 0 South Korea , date: 2022-11-24 time: 15:00:00.000
ID: 3869486 Morocco 1 - 0 Portugal , date: 2022-12-10 time: 17:00:00.000
ID: 3869685 Argentina 3 - 3 France , date: 2022-12-18 time: 17:00:00.000
ID: 3857260 Saudi Arabia 1 - 2 Mexico , date: 2022-11-30 time: 21:00:00.000
ID: 3857264 Poland 0 - 2 Argentina , date: 2022-11-30 time: 21:00:00.000
ID: 3857266 France 2 - 1 Denmark , date: 2022-11-26 time: 18:00:00.000
ID: 3857289 Argentina 2 - 0 Mexico , date: 2022-11-26 time: 21:00:00.000
ID: 3857269 Brazil 1 - 0 Switzerland , date: 2022-11-28 time: 18:00:00.000
ID: 3857294 Netherlands 2 - 0 Qatar , date: 2022-11-29 time: 17:00:00.000
ID: 3869254 Portugal 6 - 1 Switzerland , date: 2022-12-06 time: 21:00:00.000
ID: 3869118 England 3 - 0 Senegal , date: 2022-12-04 time: 21:00:00.000
ID: 3869684 Croatia 2 - 1 Morocco , date: 2022-12-17 time: 17:00:00.000
ID: 3869519 Argentina 3 - 0 Croatia , date: 2022-12-13 time: 21:00:00.000
ID: 3869354 England 1 - 2 France , date: 2022-12-10 time: 21:00:00.000
ID: 3869552 France 2 - 0 Morocco , date: 2022-12-14 time: 21:00:00.000
ID: 3869420 Croatia 1 - 1 Brazil , date: 2022-12-09 time: 17:00:00.000
ID: 3869220 Morocco 0 - 0 Spain , date: 2022-12-06 time: 17:00:00.000
ID: 3869219 Japan 1 - 1 Croatia , date: 2022-12-05 time: 17:00:00.000
ID: 3869253 Brazil 4 - 1 South Korea , date: 2022-12-05 time: 21:00:00.000
ID: 3869152 France 3 - 1 Poland , date: 2022-12-04 time: 17:00:00.000
ID: 3869117 Netherlands 3 - 1 United States , date: 2022-12-03 time: 17:00:00.000
ID: 3857270 Portugal 2 - 0 Uruguay , date: 2022-11-28 time: 21:00:00.000
ID: 3857263 Spain 1 - 1 Germany , date: 2022-11-27 time: 21:00:00.000
ID: 3857259 Cameroon 3 - 3 Serbia , date: 2022-11-28 time: 12:00:00.000
ID: 3857295 Japan 0 - 1 Costa Rica , date: 2022-11-27 time: 12:00:00.000
ID: 3857283 Belgium 0 - 2 Morocco , date: 2022-11-27 time: 15:00:00.000
ID: 3857284 Germany 1 - 2 Japan , date: 2022-11-23 time: 15:00:00.000
ID: 3857282 United States 1 - 1 Wales , date: 2022-11-21 time: 21:00:00.000
ID: 3857286 Qatar 0 - 2 Ecuador , date: 2022-11-20 time: 18:00:00.000
ID: 3857301 Qatar 1 - 3 Senegal , date: 2022-11-25 time: 15:00:00.000
ID: 3857300 Argentina 1 - 2 Saudi Arabia , date: 2022-11-22 time: 12:00:00.000
ID: 3857299 South Korea 2 - 3 Ghana , date: 2022-11-28 time: 15:00:00.000
ID: 3857298 Portugal 3 - 2 Ghana , date: 2022-11-24 time: 18:00:00.000
ID: 3857297 Poland 2 - 0 Saudi Arabia , date: 2022-11-26 time: 15:00:00.000
ID: 3857296 Croatia 0 - 0 Belgium , date: 2022-12-01 time: 17:00:00.000
ID: 3857293 Ghana 0 - 2 Uruguay , date: 2022-12-02 time: 17:00:00.000
ID: 3857292 Costa Rica 2 - 4 Germany , date: 2022-12-01 time: 21:00:00.000
ID: 3857291 Spain 7 - 0 Costa Rica , date: 2022-11-23 time: 18:00:00.000
ID: 3857290 Switzerland 1 - 0 Cameroon , date: 2022-11-24 time: 12:00:00.000
ID: 3857285 Senegal 0 - 2 Netherlands , date: 2022-11-21 time: 18:00:00.000
ID: 3857281 Croatia 4 - 1 Canada , date: 2022-11-27 time: 18:00:00.000
ID: 3857280 Cameroon 1 - 0 Brazil , date: 2022-12-02 time: 21:00:00.000
ID: 3857279 France 4 - 1 Australia , date: 2022-11-22 time: 21:00:00.000
ID: 3857278 Iran 0 - 1 United States , date: 2022-11-29 time: 21:00:00.000
ID: 3857277 Morocco 0 - 0 Croatia , date: 2022-11-23 time: 12:00:00.000
ID: 3857276 Canada 1 - 2 Morocco , date: 2022-12-01 time: 17:00:00.000
ID: 3857275 Tunisia 1 - 0 France , date: 2022-11-30 time: 17:00:00.000
ID: 3857274 Netherlands 1 - 1 Ecuador , date: 2022-11-25 time: 18:00:00.000
ID: 3857273 Wales 0 - 2 Iran , date: 2022-11-25 time: 12:00:00.000
ID: 3857272 England 0 - 0 United States , date: 2022-11-25 time: 21:00:00.000
ID: 3857271 England 6 - 2 Iran , date: 2022-11-21 time: 15:00:00.000
ID: 3857268 Belgium 1 - 0 Canada , date: 2022-11-23 time: 21:00:00.000
ID: 3857265 Mexico 0 - 0 Poland , date: 2022-11-22 time: 18:00:00.000
ID: 3857262 South Korea 2 - 1 Portugal , date: 2022-12-02 time: 17:00:00.000
ID: 3857261 Wales 0 - 3 England , date: 2022-11-29 time: 21:00:00.000
ID: 3857255 Japan 2 - 1 Spain , date: 2022-12-01 time: 21:00:00.000
ID: 3857254 Denmark 0 - 0 Tunisia , date: 2022-11-22 time: 15:00:00.000

In [12]:
# Create a dataframe from json file with matches information
with open('open-data-master/open-data-master/data/matches/43/106.json') as f:
    data = json.load(f) 
    matches = []
    for match in data:
        match_info = {
            'ID': match['match_id'],
            'Home Team': match['home_team']['home_team_name'],
            'Home Score': match['home_score'],
            'Away Score': match['away_score'],
            'Away Team': match['away_team']['away_team_name'],
            'Date': match['match_date'],
            'Time': match['kick_off']
        }
        matches.append(match_info)
    df = pd.DataFrame(matches)
    df['Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])
    df = df.sort_values('Datetime')
    df.head()

In [13]:
df

,ID,Home Team,Home Score,Away Score,Away Team,Date,Time,Datetime
35,3857286,Qatar,0,2,Ecuador,2022-11-20,18:00:00.000,2022-11-20 18:00:00
57,3857271,England,6,2,Iran,2022-11-21,15:00:00.000,2022-11-21 15:00:00
46,3857285,Senegal,0,2,Netherlands,2022-11-21,18:00:00.000,2022-11-21 18:00:00
34,3857282,United States,1,1,Wales,2022-11-21,21:00:00.000,2022-11-21 21:00:00
37,3857300,Argentina,1,2,Saudi Arabia,2022-11-22,12:00:00.000,2022-11-22 12:00:00
...,...,...,...,...,...,...,...,...
20,3869354,England,1,2,France,2022-12-10,21:00:00.000,2022-12-10 21:00:00
19,3869519,Argentina,3,0,Croatia,2022-12-13,21:00:00.000,2022-12-13 21:00:00
21,3869552,France,2,0,Morocco,2022-12-14,21:00:00.000,2022-12-14 21:00:00
18,3869684,Croatia,2,1,Morocco,2022-12-17,17:00:00.000,2022-12-17 17:00:00
9,3869685,Argentina,3,3,France,2022-12-18,17:00:00.000,2022-12-18 17:00:00